@page "{id}"
@model IdentityExample.Areas.Identity.Pages.Account.Administration.Users.DetailsModel
@{
    ViewData["Title"] = "User Details";
}

<h4>@ViewData["Title"]</h4>
<div class="row">
    <div class="col-sm-12">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserDetails.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserDetails.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserDetails.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserDetails.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserDetails.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserDetails.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserDetails.FirstName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserDetails.FirstName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserDetails.LastName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserDetails.LastName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserDetails.EmailConfirmed)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserDetails.EmailConfirmed)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserDetails.AccessFailedCount)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserDetails.AccessFailedCount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserDetails.LockoutEnabled)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserDetails.LockoutEnabled)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserDetails.LockoutEnd)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserDetails.LockoutEnd)
            </dd>
            <dt class="col-sm-2">
                User Roles
            </dt>
            <dd class="col-sm-10">
                @if (@Model.UserRoles != null && @Model.UserRoles.Count > 0)
                {
                    @foreach (var r in Model.UserRoles)
                    {
                        <a asp-page="../Roles/Details" asp-route-id="@r.Id">@r.Name </a>
                    }
                }
                else
                {
                    <p>No roles assigned</p>
                }
            </dd>
        </dl>
        <div>
            <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.UserDetails.Id">Edit</a>
            <a class="btn btn-primary" asp-page="../Index">Back to Index</a>
            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@Model.UserDetails.Id">Delete</a>
        </div>
    </div>
</div>